* {
    margin                :         0;
}

#root {
  max-width               :         100%;
  margin                  :         auto;
  align-content           :         center;
  align-items             :         center;
  align-self              :         center;
}

.non-decorated-link {
  text-decoration         :         none;
  color                   :         inherit;
}

#logo-text {
  font-family             :         'Montserrat', monospace;
  font-weight             :         bold;
  font-size               :         medium;
  float                   :         left;
  padding-left            :         8em;
  color                   :       black;
}

.headerOption {
  float                   :         right;
  padding-left            :         10px;
  padding-right           :         10px;
  color                   :       black;
  font-family             :         'Montserrat', monospace;
  font-weight             :         bold;
  font-size               :         small;
}

#header-options {
  padding-right           :         6em;
}

#header-container {
  background-color        :       white;
  box-shadow              :         4px 8px 20px rgba(111, 111, 111, 0.075);
  text-align              :         center;
  width                   :         auto;
  // padding              :         auto;
  padding                 :         2em;
  // top                  :         0;
  overflow                :         hidden;
  box-sizing              :         content-box;
  margin                  :         0;
  border-radius           :         10px;
}

.downloadBTN {
  width                   :         70%;
}

#landingContentContainer {
  float                   :         left;
  padding-left            :         9em;
  padding-top             :         10em;
  overflow                :         hidden;
  padding-bottom          :         10em;
}

.headlineText {
  text-decoration         :         none;
  color                   :       rgb(26, 26, 26);
  font-weight             :         bolder;
  font-family             :         'Montserrat', monospace;
  font-size               :         large;
}

.descriptionText {
  text-decoration         :         none;
  color                   :       rgb(53, 53, 53);
  font-family             :         'Montserrat', monospace;
  font-weight             :         900;
  font-size               :         50px;
  line-height             :         70px;
}

#introductionDescriptionText {
  padding-top             :         20px;
}

.buttonComponent {
  width                   :         160px;
  text-decoration         :         none;
  background              :         none;
  padding-top             :         4em;
}

#learnMore {
  padding-left            :         4em;
}

#demoImageComponentSection #componentDemoImageSection {
  float                   :         right;
  padding-top             :         8em;
  margin-right            :         60px;
  overflow                :         hidden;
}

#componentDemoImage {
  float                   :         right;
  width                   :         50% auto;
}

#componentDemoContainer {
  float                   :         left;
  padding-left            :         9em;
  padding-top             :         10em;
  overflow                :         hidden;
}

#componentDemoSection {
  float                   :         left;
}