<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--linking google fonts package-->
  <link 
  href="https://fonts.googleapis.com/css2?family=Montserrat&amp;display=swap" 
  rel="stylesheet">
  <!--linking CSS-->
  <link 
  rel="stylesheet" 
  href="style.css">
  <title>HeaderComponent_White_Shadow_Montserrat_Font_With_Logo_Plain__HeaderComponent_Header01</title>
</head>
<body>
  <div id="root">
    <div id="header_01_component" class="headerComponents">
      <div id="headerLogo">
        <p id="logo">LogoText</p>
      </div>
      <div id="headerOptions">
        <p id="option04" class="headerOption">Option 04</p>
        <p id="option03" class="headerOption">Option 03</p>
        <p id="option02" class="headerOption">Option 02</p>
        <p id="option01" class="headerOption">Option 01</p>
      </div>
    </div>
  </div>
</body>
</html>