* {
  margin                :         0;
}

#header_01_component {
  margin                :         0;
  background-color      :       white;
  overflow              :         hidden;
  width                 :         auto;
  padding               :         2em;
  box-shadow            :         4px 8px 36px rgba(179, 179, 179, 0.479);
}

#headerLogo {
  float                 :         left;
}

#logo {
  font-family           :         'Montserrat', monospace;
  float                 :         left;
  font-weight           :         bold;
}

#headerOptions {
  float                 :         right;
}

.headerOption {
  float                 :         right;
  font-family           :         'Montserrat', monospace;
  font-weight           :         bold;
  font-size             :         medium;
  padding-left          :         2em;
  padding-right         :         2em;
}