<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/componentStyle.css">
  <link rel="stylesheet" href="../css/variables.css">

  <!-- <style type="text/css">
    #component-screenshot {
    /* background-image: url('/components/component-items/social-media-icons-component/SMIC_C001_CODE/Image\ 1.svg'); */
    /* // background-attachment: fixed; */
    /* // height: 100%; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
  </style> -->

  <title>Components | AppSite</title>
</head>
<body>

  <div id="header">
      <a href="../index.htm" id="overview" class="option">
        overview
      </a>
      <a href="components.htm" id="components" class="option">
        components
      </a>
      <a href="https://www.github.com/yashsehgal/appsite-web" id="github" class="option">
        github
      </a>
  </div>


  <div id="component"></div>

  <div id="component-container">
  <div id="component-screenshot" style="
    background-image: url('/components/component-items/social-media-icons-component/SMIC_C001_CODE/Image\ 1.svg');
  ">
      <p id="watch-online" class="watchOnline" onclick="redirectToComponent('../components/component-items/social-media-icons-component/SMIC_C001_CODE/index.htm');">Watch Online ></p>
    </div>
    <div id="flex-handler">
    <div id="component-description">
    <p id="component-title-heading" class="componentTitleHeading">
      Material Social Icons | Hovering Buttons
    </p>
      <p id="user-description" class="user-desc">
      By, Jaspreet Singh Saini
      </p>
     
      <div id="component-usage-buttons">
        <div id="link-margin-handler">
          <a href="#" id="getCodeLink" onclick="redirectToComponentCode(`../components/component-items/social-media-icons-component/SMIC_C001_CODE/html.txt`);">Copy HTML</a>
          <a href="#" id="getCodeLink" onclick="redirectToComponentCode(`../components/component-items/social-media-icons-component/SMIC_C001_CODE/css.txt`);">Copy CSS</a>
          <a href="#" id="getCodeLink" onclick="redirectToPage(`https://www.github.com/yashsehgal/appsite-web/tree/master/components/component-items/social-media-icons-component/SMIC_C001_CODE`);">Check on GitHub</a>
        </div>
        <a href="../components/component-items/social-media-icons-component/SMIC_C001_CODE/component-SMIC_C001_CODE.zip" download>
          <img src="assets/downloadButton01.svg" alt="download" id="downloadCodeButton">
        </a>
      </div>
     
      <p id="languages-used">HTML, CSS</p>
    </div>
    </div>
  </div>

  

  <div id="component-container">
  <div id="component-screenshot" style="
    background-image: url('/components/component-items/header-components/HC_C001_CODE/Image\ 4.svg');
  ">
      <!-- <a href="../components/component-items/header-components/HC_C001_CODE/index.htm"></a> -->
      <p id="watch-online" class="watchOnline" onclick="redirectToComponent('../components/component-items/header-components/HC_C001_CODE/index.htm');">Watch Online ></p>
    </div>
    <div id="flex-handler">
    <div id="component-description">
    <p id="component-title-heading" class="componentTitleHeading">
      Material Header Component | Header Design
    </p>
      <p id="user-description" class="user-desc">
      By, Kompal Poorkar
      </p>
     
      <div id="component-usage-buttons">
        <div id="link-margin-handler">
          <a href="../components/component-items/header-components/HC_C001_CODE/html.txt"></a>
          <a href="#" id="getCodeLink" onclick="redirectToComponentCode(`../components/component-items/header-components/HC_C001_CODE/html.txt`);">Copy HTML</a>
          <a href="#" id="getCodeLink" onclick="redirectToComponentCode(`../components/component-items/header-components/HC_C001_CODE/css.txt`);">Copy CSS</a>
          <a href="#" id="getCodeLink" onclick="redirectToPage(`https://github.com/yashsehgal/appsite-web/tree/master/components/component-items/header-components/HC_C001_CODE`);">Check on GitHub</a>
        </div>
        <a href="../components/component-items/header-components/HC_C001_CODE/HC_C001_CODE.zip" download>
          <img src="assets/downloadButton01.svg" alt="download" id="downloadCodeButton">
        </a>
      </div>
     
      <p id="languages-used">HTML, CSS, SCSS</p>
    </div>
    </div>
  </div>

  <div id="component-container">
  <div id="component-screenshot" style="
    background-image: url('/components/component-items/navbar-option-list-components/NBOL_C001_CODE/Group\ 18.svg');
  ">
      <p id="watch-online" class="watchOnline" onclick="redirectToComponent('../components/component-items/social-media-icons-component/SMIC_C001_CODE/index.htm');">Watch Online ></p>
    </div>
    <div id="flex-handler">
    <div id="component-description">
    <p id="component-title-heading" class="componentTitleHeading">
      Navbar Options | Hover effect for dropdown list
    </p>
      <p id="user-description" class="user-desc">
      By, Kompal Poorkar
      </p>
     
      <div id="component-usage-buttons">
        <div id="link-margin-handler">
          <a href="#" id="getCodeLink" onclick="redirectToComponentCode(`../components/component-items/social-media-icons-component/SMIC_C001_CODE/html.txt`);">Copy HTML</a>
          <a href="#" id="getCodeLink" onclick="redirectToComponentCode(`../components/component-items/social-media-icons-component/SMIC_C001_CODE/css.txt`);">Copy CSS</a>
          <a href="#" id="getCodeLink" onclick="redirectToPage(`https://www.github.com/yashsehgal/appsite-web/tree/master/components/component-items/social-media-icons-component/SMIC_C001_CODE`);">Check on GitHub</a>
        </div>
        <a href="../components/component-items/social-media-icons-component/SMIC_C001_CODE/component-SMIC_C001_CODE.zip" download>
          <img src="assets/downloadButton01.svg" alt="download" id="downloadCodeButton">
        </a>
      </div>
     
      <p id="languages-used">HTML, CSS</p>
    </div>
    </div>
  </div>

  <!-- <script src="js/component.js"></script> -->
  <script src="js/links.js"></script>
</body>
</html>